.globallayout {
  //container
  main {
    width: 85vw;
    height: 100%;
    // height: calc(100vh - 50px);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;

    margin: 0 auto;
    margin-top: 0.8em;
    padding: 10px;

    background-color: var(--background-1);
    border: var(--border);
    border-radius: var(--border-radius);
  }
}

@media (max-width: 1000px) {
  .globallayout {
    main {
      width: 96vw;
    }
  }
}
