.testpage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  //   display: flex;
  //   flex-direction: column;
  .mainnews {
    width: 100%;
    height: 200px;
    padding: 10px 0.2em;
  }
  .testcard {
    width: 100%;
    height: 100%;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .testpage {
    .testcard {
      display: flex;
      flex-direction: column;
    }
  }
}

@media (max-width: 1000px) {
  .testpage {
    .testcard {
      grid-template-columns: 1fr 1fr;
    }
  }
}
