.contactcard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 30px;

  // background-color: red;

  .title {
    color: var(--foreground-alt);
    font-weight: 600;
  }

  .contact {
    width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

    padding: 0.35rem;
    border: 2px solid var(--secondary);
    border-radius: 24px;

    .contact_text {
      padding-left: 4px;
    }

    .goto_button {
      background-color: var(--secondary-transparent);
      border-radius: 24px;

      & svg {
        color: var(--accent);
      }
    }
  }
}
