@mixin hover() {
  &:hover {
    color: var(--primary);
    background-color: var(--foreground-alt);
    transition: background-color 400ms, color 400ms;
    cursor: pointer;
    border: none;
    border-radius: 8px;
  padding: 5px;
  }
}
