@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --primary: #0b0a0c;
  --primary-transparent: #0b0a0cc8;
  --secondary: #343234;
  --secondary-transparent: #34323494;
  --accent: #c5beb5;
  --foreground: var(--accent);
  --foreground-alt: #494242;
  --red: #fb646d;

  --radius: 8px;
  --section-height: calc(100dvh - 80px);
  --screen-width: 100dvw;
}

html,
body {
  width: var(--screen-width);
  height: 100dvh;
  font-family: "Archivo", sans-serif;
  color: var(--foreground);
  background-color: var(--primary);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.chrome {
  // --screen-width: calc(100dvw - 0.5rem);
  // overflow-x: auto;
}

:root {
  width: var(--screen-width);

  overflow-x: hidden;
}

/* CHROME */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #474a4c;
  border-radius: 30px;
}
