.mainpage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  // alig: center;
  gap: 10px;

  .mainnews {
    width: 100%;
    height: 200px;
  }

  .posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .soon {
    width: 300px;
    aspect-ratio: 16/9;
    border-radius: var(--border-radius);
  }
}

@media (max-width: 500px) {
  .mainpage {
    .posts {
      display: flex;
      flex-direction: column;
    }
  }
}

@media (max-width: 1000px) {
  .mainpage {
    .posts {
      grid-template-columns: 1fr 1fr;
    }
  }
}
