@import "@/styles/mixins.scss";

.header {
  width: var(--screen-width);

  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  backdrop-filter: blur(10px);
  padding: 0 1rem;
  // background: red;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  .leftside {
    .sitename {
      font-size: 1.3em;
      font-weight: bold;
      transition: color 400ms;
      cursor: pointer;
      text-decoration: none;
      color: var(--foreground);

      &:hover {
        color: var(--accent);
      }
    }
  }

  .rightside {
    .github {
      display: flex;
      align-items: center;
      background-color: var(--secondary);
      color: var(--primary);
      border-radius: 10px;
      cursor: pointer;
      font-size: 0.9rem;
      font-weight: 600;
      text-decoration: none;
      padding: 0.5rem 1rem;
      transition: background-color 200ms ease-out;

      &:hover {
        background-color: var(--foreground-alt);
        color: var(--primary);
      }
    }
  }
}
