.footer {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  backdrop-filter: blur(20px);

  .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: var(--foreground-alt);
    font-weight: 600;

    .heart {
      width: 20px;
      height: 20px;
      color: var(--red);
    }
  }
}
