.footer {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  // background: transparent;
  backdrop-filter: blur(20px);

  .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: var(--foreground-alt);
    font-weight: 600;

    .heart {
      width: 20px;
      height: 20px;
      color: var(--red);
    }
  }
}

@media screen and (max-width: 640px) {
  .footer {
    height: 60px;
    .copyright {
      font-size: 20px;
    }
  }
}
