.button {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  background-color: white;
  border: none;
  border-radius: 8px;
  color: var(--accent);
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
}
